target/
.idea/
.DS_Store
.devnet/
.sisyphus/
eif*.bin
docs/specs/node_modules/
node_modules/
etc/scripts/devnet/package.json
etc/scripts/devnet/package-lock.json
docs/specs/dist/
docs/specs/.vocs/
*.log
.vscode/
cache/
out/
